In [1]:
#importing required libraries
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import urllib.request
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException,TimeoutException

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#Creating a session 
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(4)

#getting tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

#Reading tables with Pandas read_html()
dfs = pd.read_html(str(tables))

#Taking the required table
df=pd.DataFrame(dfs[2])

#renaming the columns
df.rename(columns={'No.':'Rank','Uploader':'Artist'},inplace=True)

#droping unwanted rows and columns
df.drop(columns=['Note','Unnamed: 6'],inplace=True)
df.drop([30],axis=0,inplace=True)

In [33]:
#Showing the result
df

,Rank,Video name,Artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22.,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
22,23.,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
23,24.,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
24,25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [19]:
#Creating a session
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')
time.sleep(4)

#getting the link for international fixture page and going on that page
a=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down'][1]").get_attribute('href')
driver.get(a)
time.sleep(4)

#Creating empty lists
date=[]
title=[]
series=[]
place=[]

#scraping match titles
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    title.append(i.text)
    
#scraping date
for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    date.append(i.text)
    
#scraping series name
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)
    
#scraping place of match
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(i.text)
    
#creating dataframe and storing the scraped datain it
df=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'dt':date,'Date':date,'Time':date})

#spliting date and time
df['dt']=df['dt'].str.replace('\n',',')
df['dt']=df['dt'].str.split(',')
for i in range(0,len(df['dt'])):
    df['Date'][i]=" ".join(df['dt'][i][:2])
for i in range(0,len(df['dt'])):
    df['Time'][i]=df['dt'][i][-1]
    
#droping unwanted columns
df.drop(columns='dt',inplace=True)

#Showing the result
df

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [20]:
#creating a session
driver = webdriver.Chrome()
driver.get('https://www.guru99.com/exception-handling-selenium.html')
time.sleep(4)

#getting tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

#Reading tables with Pandas read_html()
dfs = pd.read_html(str(tables))

#getting the required table
dfs[4]

,0,1
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
#creating a session
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')
time.sleep(4)

#Getting the url for indian economy and going to that link
url=[]
for i in driver.find_elements_by_xpath("//div[@class='dropdown-content']/a[3]"):
    url.append(i.get_attribute('href'))
driver.get(url[0])

#clicking on the GDP of Indian states link
for i in driver.find_elements_by_xpath("//a[@class='ec']"):
    if i.text=='» GDP of Indian states':
        i.click()
        break
time.sleep(4)        
#getting tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

#Reading tables with Pandas read_html()
dfs = pd.read_html(str(tables))

#getting the required table
df=dfs[1]

#renameing columns and droping unwanted data
df.columns=['Rank','State','GSDP(19-20)','GSDP(18-19)','Share(2019)','GDP($ billion)','r','r']
df.drop(columns=['r'],inplace=True)
df.drop([33],axis=0,inplace=True)

#result
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2019),GDP($ billion)
0,1.0,Maharashtra,-,2632792,13.94%,399.921
1,2.0,Tamil Nadu,1845853,1630208,8.63%,247.629
2,3.0,Uttar Pradesh,1687818,1584764,8.39%,240.726
3,4.0,Gujarat,-,1502899,7.96%,228.290
4,5.0,Karnataka,1631977,1493127,7.91%,226.806
5,6.0,West Bengal,1253832,1089898,5.77%,165.556
6,7.0,Rajasthan,1020989,942586,4.99%,143.179
7,8.0,Andhra Pradesh,972782,862957,4.57%,131.083
8,9.0,Telangana,969604,861031,4.56%,130.791
9,10.0,Madhya Pradesh,906672,809592,4.29%,122.977
10,11.0,Kerala,-,781653,4.14%,118.733
11,12.0,Delhi,856112,774870,4.10%,117.703
12,13.0,Haryana,831610,734163,3.89%,111.519
13,14.0,Bihar,611804,530363,2.81%,80.562
14,15.0,Punjab,574760,526376,2.79%,79.957
15,16.0,Odisha,521275,487805,2.58%,74.098
16,17.0,Assam,-,315881,1.67%,47.982
17,18.0,Chhattisgarh,329180,304063,1.61%,46.187
18,19.0,Jharkhand,328598,297204,1.57%,45.145
19,20.0,Uttarakhand,-,245895,1.30%,37.351
20,21.0,Jammu & Kashmir,-,155956,0.83%,23.690
21,22.0,Himachal Pradesh,165472,153845,0.81%,23.369
22,23.0,Goa,80449,73170,0.39%,11.115
23,24.0,Tripura,55984,49845,0.26%,7.571
24,25.0,Chandigarh,-,42114,0.22%,6.397
25,26.0,Puducherry,38253,34433,0.18%,5.230
26,27.0,Meghalaya,36572,33481,0.18%,5.086
27,28.0,Sikkim,32496,28723,0.15%,4.363
28,29.0,Manipur,31790,27870,0.15%,4.233
29,30.0,Nagaland,-,27283,0.14%,4.144
30,31.0,Arunachal Pradesh,-,24603,0.13%,3.737
31,32.0,Mizoram,26503,22287,0.12%,3.385
32,33.0,Andaman & Nicobar Islands,-,-,-,-

Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [102]:
#creating a session
driver = webdriver.Chrome()
driver.get('https://github.com/')

#clicking on explore menu
driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]").click()

#clicking on trending option from explore menu
driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]").click()

#creating empty lists to store data
title=[]
desc=[]
count=[]
lang=[]
urls=[]

#getting urls of the trending repositories
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(i.get_attribute('href'))

#Going to each page and scraping the required data
for i in urls:
    driver.get(i)
    time.sleep(4)
    
    #scraping title using xpath
    try:
        title.append(driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a").text)
    except NoSuchElementException :
        title.append("-")
    
    #scraping description using xpath
    try:
        desc.append(driver.find_element_by_xpath("//p[@class='f4 mt-3']").text)
    except NoSuchElementException :
        desc.append("-")
    
    #scraping contributors using xpath
    try:
        count.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span").text)
    except NoSuchElementException :
        count.append("-")
    
    #scraping language used 
    try:
        lang.append(driver.find_element_by_xpath("//ul[@class='list-style-none']/li[1]/a/span[1]").text)
    except NoSuchElementException :
        lang.append("-")
        
#creating dataframe and storing data in it
df=pd.DataFrame({'Repository title':title,'Repository description':desc,'Contributors count':count,'Language used':lang})

#results
df

,Repository title,Repository description,Contributors count,Language used
0,The-OldOS-Project,Recreating a fully functional version of iOS 4...,5,Swift
1,Paper,High performance Spigot fork that aims to fix ...,245,Shell
2,chia-plotter,-,12,C
3,virtual-environments,GitHub Actions virtual environments,149,PowerShell
4,fairseq,Facebook AI Research Sequence-to-Sequence Tool...,395,Python
5,starter-workflows,Accelerating new GitHub Actions workflows,-,TypeScript
6,--,停车场系统源码，停车场小程序，智能停车，Parking system，【功能介绍】：①兼容市...,-,Java
7,alien,ALiEn is a GPU-accelerated artificial life sim...,-,C++
8,Applied-Deep-Learning,Applied Deep Learning,-,-
9,QuantumultX,脚本，自用,-,-
10,coding-interview-university,A complete computer science study plan to beco...,197,-
11,XUAN-Bike,-,-,-
12,vscode,Visual Studio Code,"1,434",TypeScript
13,free-programming-books,📚 Freely available programming books,-,-
14,aliyunpan,阿里云盘小白羊版 阿里云盘PC版,-,Dart
15,app-ideas,A Collection of application ideas which can be...,-,-
16,pycryptobot,Python Crypto Bot,-,Python
17,build-your-own-x,🤓 Build your own (insert technology here),69,-
18,OpenAPI-Specification,The OpenAPI Specification Repository,180,JavaScript
19,HyperHide,Hypervisor based anti anti debug plugin for x6...,-,C++
20,computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,-,Jupyter Notebook
21,MyActions,-,-,JavaScript
22,tensorflow,An Open Source Machine Learning Framework for ...,140k,C++
23,pipelines,Machine Learning Pipelines for Kubeflow,247,Python
24,spring-boot,Spring Boot,15.7k,Java

Q6 Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [59]:
#creating a session
driver = webdriver.Chrome()
driver.get('https://www.billboard.com')
time.sleep(4)

#clicking on charts option
driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div/ul[1]/li[1]").click()
time.sleep(4)

#clicking on hot 100 page
driver.find_element_by_xpath("//div[@class='all-charts-list']/div[2]/a[1]").click()
time.sleep(4)

#Creating empty lists
s_name=[]
a_name=[]
lw_rank=[]
peek_rank=[]
weeks_onboard=[]

#scraping song name using xpath
for i  in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    s_name.append(i.text)
    
#scraping artist name using xpath
for i  in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    a_name.append(i.text)

#scraping last week rank using xpath    
for i  in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    lw_rank.append(i.text)
    
#scraping peek rank using xpath
for i  in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peek_rank.append(i.text)
    
#scraping weeks onboard using xpath
for i  in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_onboard.append(i.text)
    
#creating dataframe
df=pd.DataFrame({"Song name":s_name,'Artist name':a_name,'Last week rank':lw_rank,'Peek rank':peek_rank,'Weeks onboard':weeks_onboard})

#output
df

,Song name,Artist name,Last week rank,Peek rank,Weeks onboard
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [90]:
driver = webdriver.Chrome()
driver.get('https://www.naukri.com/')
time.sleep(4)

#clicking on recruiters option
driver.find_element_by_xpath("//a[@title='Search Recruiters']").click()
time.sleep(2)

#switching focus to the new window i.e. recruiters window
p = driver.current_window_handle
chwd = driver.window_handles
for w in chwd:
    if(w!=p):
        driver.switch_to.window(w)
        break
time.sleep(2)

#entering Data Sceience in recruiters search bar
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Science')

#clicking on search button
driver.find_element_by_id("qsbFormBtn").click()

#fetching urls of each recruiter
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='recImg mid_pImg_Silht']/a"):
    urls.append(i.get_attribute('href'))
    
#creating empty lists
name=[]
desig=[]
company=[]
skills=[]
loc=[]

#Going to each url
for i in urls:
    driver.get(i)
    
    #scraping name 
    try:
        name.append(driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']").text)
    except NoSuchElementException :
        name.append("-")
        
    
    #scraping designation
    try:
        desig.append(driver.find_element_by_xpath("//div[@class='ellipsis']").text)
    except NoSuchElementException :
        desig.append("-")
    
    #scarping company name
    try:
        company.append(driver.find_element_by_xpath("//div[@class='oh'][1]/a").text)
    except NoSuchElementException :
        company.append("-")
     
    #scraping location
    try:
        loc.append(driver.find_element_by_xpath("//div[@class='oh'][2]/a").text)
    except NoSuchElementException :
        loc.append("-")
    
    #scraping skills hire for
    try:
        skills.append(driver.find_element_by_xpath("//div[@class='fl lPortn']").text)
    except NoSuchElementException :
        skills.append("-")
        
#creating dataframe
df=pd.DataFrame({'Name':name,'Designation':desig,'Company':company,'Location':loc,'Skills hire for':skills})

#output
df

,Name,Designation,Company,Location,Skills hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,Sectors and Skills I hire for\nSkills/Roles I ...
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,Sectors and Skills I hire for\nSkills/Roles I ...
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,Sectors and Skills I hire for\nLevels I hire f...
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,Sectors and Skills I hire for\nSkills/Roles I ...
4,subhas patel,Founder & CEO,LibraryXProject,UK - (london),Sectors and Skills I hire for\nSkills/Roles I ...
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,Sectors and Skills I hire for\nSkills/Roles I ...
6,Institute for Financial Management and Research,Programme Manager,IFMR,Chennai,Sectors and Skills I hire for\nFunctional Area...
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,Sectors and Skills I hire for\nSkills/Roles I ...
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,-
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,Sectors and Skills I hire for\nLevels I hire f...
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,Sectors and Skills I hire for\nSkills/Roles I ...
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,-
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,-
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,Sectors and Skills I hire for\nSkills/Roles I ...
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,Sectors and Skills I hire for\nLevels I hire f...
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,Sectors and Skills I hire for\nSkills/Roles I ...
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,Sectors and Skills I hire for\nLevels I hire f...
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Sectors and Skills I hire for\nIndustries:\nIT...
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,Delhi,Sectors and Skills I hire for\nLevels I hire f...
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,Sectors and Skills I hire for\nSkills/Roles I ...
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,Sectors and Skills I hire for\nLevels I hire f...
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,Sectors and Skills I hire for\nLevels I hire f...
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,Sectors and Skills I hire for\nLevels I hire f...
23,Shaun Rao,Manager - Human Resources,Exela Technologies,Pune,Sectors and Skills I hire for\nSkills/Roles I ...
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Bengaluru / Bangalore,Sectors and Skills I hire for\nLevels I hire f...
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,Sectors and Skills I hire for\nSkills/Roles I ...
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Others,Sectors and Skills I hire for\nSkills/Roles I ...
27,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,Delhi,Sectors and Skills I hire for\nSkills/Roles I ...
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,-
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,Sectors and Skills I hire for\nSkills/Roles I ...
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,Sectors and Skills I hire for\nSkills/Roles I ...
31,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,Sectors and Skills I hire for\nLevels I hire f...
32,Prateek Kumar,Head,Trisect,Noida,Sectors and Skills I hire for\nLevels I hire f...
33,Amit Sharma,Consultant,ASCO consulting,New Delhi,-
34,Kanan,senior technology instructor,NY INST,Chennai,Sectors and Skills I hire for\nLevels I hire f...
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,Aligarh,-
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,Sectors and Skills I hire for\nLevels I hire f...
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,Sectors and Skills I hire for\nSkills/Roles I ...
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,-
39,Ankit Sinha,Head-Analytics,Suntech Global,Mumbai,-
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,Sectors and Skills I hire for\nLevels I hire f...
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,Sectors and Skills I hire for\nSkills/Roles I ...
42,Ashwini,"Director, Global Delivery",MRP Advisers,MYSORE,-
43,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,-
44,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,Sectors and Skills I hire for\nSkills/Roles I ...
45,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,Sectors and Skills I hire for\nLevels I hire f...
46,Amir Chowdhury,Managing Partner,Granular.ai,,-
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,-
48,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,Sectors and Skills I hire for\nSkills/Roles I ...
49,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,Sectors and Skills I hire for\nSkills/Roles I ...

Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [91]:
#creating a session
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
time.sleep(4)

#getting tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

#Reading tables with Pandas read_html()
dfs = pd.read_html(str(tables))

#Getting required table
df=dfs[0]

#removing unwanted rows and columns
df.drop([100],inplace=True)
df.drop(columns='Rank',inplace=True)

#output
df

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [92]:
#creating a session
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

#creating empty lists
name=[]
year_span=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

#scraping name
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)

#scraping year span
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year_span.append(i.text)

    #scraping genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)

#scraping runtime
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    runtime.append(i.text)
    
#scraping ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    ratings.append(i.text)
    
#scraping votes
for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(i.text)

#creating dataframe
df=pd.DataFrame({'Name':name,'Year span':year_span,'Genre':genre,'Run time':runtime,'Ratings':ratings,'Votes':votes})

#output
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,836"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,835"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,023"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,517"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,823"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,550"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,035"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,471"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,859"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,190"

Q10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [93]:
#creating a session
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

#getting the url of show all dataset and going on it
url=[]
for i in driver.find_elements_by_xpath("//span[@class='normal']/b/a"):
    url.append(i.get_attribute('href'))
driver.get(url[0])

#getting tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

#Reading tables with Pandas read_html()
dfs = pd.read_html(str(tables))

#fetching the required table
df=dfs[5]

#Giving column names as its the first row that contains column names
df.columns=df.iloc[0]

#removing the unwanted data
for i in range(0,1178,2):
    df.drop([i],inplace=True)
    
#resetting the index
df = df.reset_index(drop=True)

#output
df

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
3,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021